<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--configuration core file-->
<mapper namespace="com.dydong.mapper.UserMapper">

    <insert id="addUser" parameterType="User">
        insert into forum.user(username,password,invitation,introduction,pic)
        values (#{username},#{password},#{invitation},#{introduction},#{pic})
    </insert>

    <select id="queryAllUser" resultType="User">
        select * from forum.user
    </select>

    <select id="queryUserByName" parameterType="String" resultType="User">
        select * from forum.user where username = #{username}
    </select>

    <select id="queryUserById" resultType="User">
        select * from forum.user where id=#{id}
    </select>

    <select id="updateUser" parameterType="User">
        update user set password=#{password},invitation=#{invitation},introduction=#{introduction},pic=#{pic}
        where id=#{id}
    </select>

    <delete id="deleteUserById">
        delete from user where id=#{id}
    </delete>

</mapper>