<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Signin Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/login/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/login/css/signin.css}" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" method="post" th:action="@{/register}">
    <img class="mb-4" th:src="@{/login/img/bootstrap-solid.svg}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal" th:text="#{register.tip}">Please Register</h1>
    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    <input type="text" class="form-control" th:placeholder="#{register.username}" required name="username">
    <input type="text" class="form-control" th:placeholder="#{register.password}" required name="password">
    <input type="text" class="form-control" th:placeholder="#{register.confirm}" required name="repeat">
    <br/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">[[#{register.reg}]]</button>
    <br/>
    <a th:href="@{/user/login}"><button class="btn btn-lg btn-primary btn-block" type="button">[[#{register.btn}]]</button></a>
    <p class="mt-5 mb-3 text-muted">© 2022.12.20</p>
    <a class="btn btn-sm" th:href="@{/register(l='zh_CN')}">中文</a>
    <a class="btn btn-sm" th:href="@{/register(l='en_US')}">English</a>
</form>

</body>

</html>